# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment Variables
.env

# Editor/IDE
.vscode/
.idea/
config.py

# Alembic migration history (optional)
alembic/versions/
alembic.ini 

